body {
    font-family: "Regular";
    
}
html {
  scroll-behavior: smooth;
}
img {
    width: 100%;
    display: block; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: #fff;
}

.btn{
    margin-top: 42px;
    background-color: #466CCD;
    font-size: 17px;
    padding: 15px 33px;
    border-radius: 50px;
    transition: all .3s ease-in-out;
    }
    
    @keyframes countSeconds {
        0% {
          content: "60";
        }
        1.6667% {
          content: "59";
        }
        3.3333% {
          content: "58";
        }
        5% {
          content: "57";
        }
        6.6667% {
          content: "56";
        }
        8.3333% {
          content: "55";
        }
        10% {
          content: "54";
        }
        11.6667% {
          content: "53";
        }
        13.3333% {
          content: "52";
        }
        15% {
          content: "51";
        }
        16.6667% {
          content: "50";
        }
        18.3333% {
          content: "49";
        }
        20% {
          content: "48";
        }
        21.6667% {
          content: "47";
        }
        23.3333% {
          content: "46";
        }
        25% {
          content: "45";
        }
        26.6667% {
          content: "44";
        }
        28.3333% {
          content: "43";
        }
        30% {
          content: "42";
        }
        31.6667% {
          content: "41";
        }
        33.3333% {
          content: "40";
        }
        35% {
          content: "39";
        }
        36.6667% {
          content: "38";
        }
        38.3333% {
          content: "37";
        }
        40% {
          content: "36";
        }
        41.6667% {
          content: "35";
        }
        43.3333% {
          content: "34";
        }
        45% {
          content: "33";
        }
        46.6667% {
          content: "32";
        }
        48.3333% {
          content: "31";
        }
        50% {
          content: "30";
        }
        51.6667% {
          content: "29";
        }
        53.3333% {
          content: "28";
        }
        55% {
          content: "27";
        }
        56.6667% {
          content: "26";
        }
        58.3333% {
          content: "25";
        }
        60% {
          content: "24";
        }
        61.6667% {
          content: "23";
        }
        63.3333% {
          content: "22";
        }
        65% {
          content: "21";
        }
        66.6667% {
          content: "20";
        }
        68.3333% {
          content: "19";
        }
        70% {
          content: "18";
        }
        71.6667% {
          content: "17";
        }
        73.3333% {
          content: "16";
        }
        75% {
          content: "15";
        }
        76.6667% {
          content: "14";
        }
        78.3333% {
          content: "13";
        }
        80% {
          content: "12";
        }
        81.6667% {
          content: "11";
        }
        83.3333% {
          content: "10";
        }
        85% {
          content: "09";
        }
        86.6667% {
          content: "08";
        }
        88.3333% {
          content: "07";
        }
        90% {
          content: "06";
        }
        91.6667% {
          content: "05";
        }
        93.3333% {
          content: "04";
        }
        95% {
          content: "03";
        }
        96.6667% {
          content: "02";
        }
        98.3333% {
          content: "01";
        }
        100% {
          content: "00";
        }
      }
      